*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-white);
  font-family: Inter;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
